apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-v1
spec:
  replicas: {{ .Values.replicaCount }}

  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0

  selector:
    matchLabels:
      app: nginx

  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
        - name: nginx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: nginx-v1-svc
spec:
  type: {{ .Values.service.type }}
  selector:
    app: nginx
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 80
      protocol: TCP
